body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
main {
  display: grid;
  grid-template-rows: auto 1fr;
}
.destacados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.destino {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 3px solid #7c0808;
  border-radius: 5px;
}

.destino img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

h1{
  text-align: center;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  text-align: center;
}